<div class="card card card-stats">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                    <i class="nc-icon nc-trophy text-success"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">{{ 'dashboard.rank'|trans }}</p>
                    <p class="card-title">{{ myScoreWithPositions.position }}
                    </p><p>
                    </p></div>
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-calendar-o"></i> {{ 'dashboard.points'|trans }}: {{ myScoreWithPositions.userScore.scoreSumme }}
        </div>
    </div>
</div>