<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{ 'dashboard.top3'|trans }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled team-members">
            {% for userScoreWithPosition in userScoreWithPositions %}
                <li>
                    <div class="row">
                        <div class="col-md-2 col-2">
                            <div class="avatar">
                                {{ userScoreWithPosition.position }}
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            {{ userScoreWithPosition.userScore.user.username }}
                            <br>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                            {{ userScoreWithPosition.userScore.scoreSumme }} Punkte
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>